@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6,dl,dd{margin:0;}
body{
    color:#fff;
    min-width:1200px;
    font-family:'NotoSans', sans-serif;
    letter-spacing:-0.5px;
    background:#333;
}
a{
    text-decoration:none;
    color:#fff;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.inner{
    width:1200px;
    margin:0 auto;
}
.inner2{
    width:680px;
    margin:0 auto;
}
.cf::after{
    content:"";
    display:block;
    clear:both;
}





