@charset "utf-8";

#header{background:#333;}
#header .inner{
    position:relative;
}

.lUtil{
    float:left;
    padding-top:10px;
}
.signUp{}
.signUp li{
    float:left;
    font-size:14px;
    line-height:25px;
}
.lang{
    background:url(../images/common/langBox.png) no-repeat;
    width:75px;
    height:25px;
    padding-left:25px;
    box-sizing:border-box;
    margin:0 10px;
    color:#333;
}
.lang img{
    margin-left:5px;
    margin-bottom:4px;
}

.signUp li a{}
.signUp li img{}

.cal{
    width:174px;
    text-align:center;
}
.cal p{}
.cal ul{}
.cal li{
    float:left;
    padding:0 4px;
}
.cal li:hover{
    background:#ea8c23;
    width:24px;
    height:24px;
    border-radius:50%;
    box-sizing:border-box;
}
.cal li a{}

.logo{
    position:absolute;
    left:50%;
    margin-left:-85px;
    top:30px;
}
.logo a{display:block;}
.logo img{display:block;}

.rUtil{
    float:right;
    padding-top:10px;
}
.rUtil span{
    vertical-align:middle;
    font-size:14px;
    padding-right:5px;
}
.rUtil img{vertical-align:middle;}

.gnb{
    position:fixed;
    bottom:0;
    background:rgba(0,0,0,0.5);
    padding:30px;
    width:100%;
    box-sizing:border-box;
    z-index:1;
}

.menu{text-align:center;}
.menu li{
    display:inline-block;
    margin-right:30px;
    font-size:20px;
}
.menu li:last-child{margin-right:0;}
.menu li:hover a{color:#ea8c23;}
.menu li a{}

.searchBar{
    width:265px;
    height:40px;
    position:relative;
    margin:0 auto;
    margin-top:30px;
}
.searchBar input{
    background-color:rgba(255,255,255,0);
    border:1px solid #fff;
    border-radius:30px;
    width:265px;
    height:40px;
    box-sizing:border-box;
    padding:0 15px;
}
.searchBar a{
    position:absolute;
    right:15px;
    top:6px;
}
.searchBar img{}


/*푸터*/
#footer{
    text-align:center;
}
.sns img{
    margin:3px;
    margin-top:20px;
}
.subscribe{
    width:350px;
    margin:20px auto;
    position:relative;
}
.subscribe input{
    width:350px;
    height:40px;
    display:inline-block;
    box-sizing:border-box;
    border:0;
    padding:0 10px;
}
.subscribe a{
    width:100px;
    height:40px;
    line-height:40px;
    display:inline-block;
    background:#f4841f;
    position:absolute;
    right:0;
    top:0;
}

.fMenu p{
    display:inline-block;
    margin:0 10px;
}
.fInfo{margin-top:30px;}
.fInfo p{font-size:14px;}
.fInfo span{font-weight:200;}
.copy{margin:30px 0;}












